<div class="container">
  <h2>新着投稿一覧</h2><br />

  <div class="row">
    <div class="col-md-3">
	  	<table class="table table-hover">
	  	  <thead class="bg-light">
	  	    <tr>
	  	      <th>カテゴリ検索</th>
	  	    </tr>
	  	  </thead>

	  	  <tbody>
	  	    <% @categories.each do |category| %>
	  	      <tr>
	  	        <td><%= link_to category.name, posts_path(category_id: category.id) %></td>
	  	      </tr>
	  	    <% end %>
	  	  </tbody>
	  	</table><br />
	  </div>

    <div class="col-md-8 offset-md-1">
      <div class="wrap">
        <ul id="tab-menu">
          <li><%= link_to "新着", posts_path, class: 'bg-white text-dark' %></li>
          <li><%= link_to "ランキング", rank_posts_path, class: 'bg-dark text-white' %></li>
          <li><%= link_to "フォロー", follows_posts_path, class: 'bg-dark text-white' %></li>
        </ul>
	    </div>

      <%= render 'list', posts: @posts %>
    </div>
  </div>
</div>