<div class="container">
  <h2>ランキング</h2><br />

  <div class="row">
    <div class="col-md-3">
	  	<table class="table table-hover">
	  	  <thead class="bg-light">
	  	    <tr>
	  	      <th>カテゴリ検索</th>
	  	    </tr>
	  	  </thead>

	  	  <tbody>
	  	    <% @categories.each do |category| %>
	  	      <tr>
	  	        <td><%= link_to category.name, rank_posts_path(category_id: category.id) %></td>
	  	      </tr>
	  	    <% end %>
	  	  </tbody>
	  	</table><br />
	  </div>

    <div class="col-md-8 offset-md-1">
      <div class="text-center">
        <%= link_to "　新着　", posts_path, class: "btn btn-primary" %>
        <%= link_to "　ランキング　", rank_posts_path, class: "btn btn-success" %>
	  	  <%= link_to "　フォロー　", follows_posts_path, class: "btn btn-primary" %>
	  	</div><br />

      <%= render 'list', posts: @posts %>
    </div>
  </div>
</div>