<div class="container">
  <h2>投稿詳細</h2><br />

  <div class="row">
    <div class="card col-md-6 mx-auto pt-3 shadow-lg">

      <%= image_tag @post.image, class:"card-img-top" %>

      <div class="card-body">
        <h2 class="font-weight-bold text-center">
          <%= @post.text %>
        </h2>

        <div class="text-right">
          <%= link_to user_path(@post.user.id) do %>
            <strong><span><i class="fas fa-user"></i> By <%= @post.user.name %></span></strong>
          <% end %><br />

          <div id="favorite_buttons_<%= @post.id %>">
            <% if user_signed_in? %>
              <%= render 'public/favorites/favorite', post: @post %>
            <% else %>
              <%= link_to post_favorites_path(@post), method: :post do %>
                ♡<%= @post.favorites.count %> <strong>いいね</strong>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div><br />

  <% if @post.user == current_user %>
    <div class="row">
      <div class="mx-auto">
        <%= link_to "削除する", post_path(@post.id), method: :delete, "data-confirm" => "OKを押すと削除処理がされます。本当によろしいですか？", class: "btn btn-danger" %>
      </div>
    </div><br />
  <% end %>

  <div class="row">
    <div class="col-md-6 mx-auto">
      <%= form_with model: [@post, @post_comment], method: :post, local:true do |f| %>
        <%= render "public/shared/error_messages", resource: @post_comment %>

        <div class="field text-center">
          <%= f.text_field :comment, placeholder: "コメントを入力", size: "30" %><br /><br />
          <%= f.submit "送信する" %>
        </div>
      <% end %>
    </div>
  </div><br />

  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="row">
        <% @post.post_comments.order('id DESC').each do |post_comment| %>
          <div class="card col-md-9 mx-auto py-3 shadow-lg">
            <div class="row">
              <div class="col-2">
                <%= link_to user_path(post_comment.user.id), class:"text-decoration-none" do %>
                  <%= image_tag post_comment.user.get_profile_image(50,50), class: "rounded-circle" %>
                <% end %>
              </div>

              <div class="col-10">
                <%= link_to user_path(post_comment.user.id) do %>
                  <%= post_comment.user.name %>
                <% end %>
              　<%= post_comment.created_at.strftime('%Y/%m/%d') %>
                <% if post_comment.user == current_user %>
                　<%= link_to "削除", post_post_comment_path(post_comment.post.id,post_comment.id), method: :delete, "data-confirm" => "OKを押すと削除処理がされます。本当によろしいですか？", class: "btn btn-danger" %>
                <% end %><br />
                <%= post_comment.comment %>
	            </div>
	          </div>
	        </div>
        <% end %>
      </div>
    </div>
　</div><br />
</div>