<div class="container">
  <h2>投稿詳細</h2><br />

  <div class="row">
    <div class="card col-md-6 mx-auto pt-3 shadow-lg">

      <%= image_tag @post.image, class:"card-img-top" %>

      <div class="card-body">
        <h2 class="font-weight-bold text-center">
          <%= @post.text %>
        </h2>

        <div class="text-right">
          <%= link_to admin_user_path(@post.user.id) do %>
            <strong><span><i class="fas fa-user"></i> By <%= @post.user.name %></span></strong>
          <% end %><br />

          <span>♡<%= @post.favorites.count %> <strong>いいね</strong></span>
        </div>
      </div>
    </div>
  </div><br />

  <div class="row">
    <div class="mx-auto">
      <%= link_to "削除する", admin_post_path(@post.id), method: :delete, "data-confirm" => "OKを押すと削除処理がされます。本当によろしいですか？", class: "btn btn-danger" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mx-auto">
　    <table class="table table-hover">
	    　<tbody>
	    　  <% @post.post_comments.order('id DESC').each do |post_comment| %>
	    　		<tr>
	    　		  <td>
	    　		    <%= link_to admin_user_path(post_comment.user.id), class:"text-decoration-none" do %>
	    　		      <%= image_tag post_comment.user.get_profile_image(38,38), class: "rounded-circle" %>
	    　			  <% end %>
	    　			</td>
	    　			<td><%= post_comment.comment %></td>
	    　			<td>
	      　		  <%= link_to "削除", admin_post_post_comment_path(post_comment.post.id,post_comment.id), method: :delete, "data-confirm" => "OKを押すと削除処理がされます。本当によろしいですか？", class: "btn btn-danger" %>
	      　	  </td>
	    　		</tr>
	    　	<% end %>
	    　</tbody>
　    </table>
　  </div>
　</div>
</div>
