<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h2>会員詳細</h2><br />

      <%= image_tag @user.get_profile_image(150,150), class: "rounded-circle" %><br /><br />

      <h4 class="font-weight-bold"><%= @user.name %></h4>

      <h5><%= @user.profile %></h5>

      <div class="row">
        <%= link_to edit_admin_user_path, class: "btn btn-outline-secondary btn-block" do %>
        　<i class="fas fa-user-cog"></i>
        <% end %>
      </div>
    </div>

    <div class="col-md-8 offset-md-1">
      <h2 class="text-center mt-5"><span class="p-2 border border-dark"><%= @user.name %>さんの投稿一覧</span></h2><br />

      <div class="row">
        <% @posts.each do |post| %>
          <div class="card col-md-9 mx-auto pt-3 mb-4 shadow-lg">
            <%= link_to admin_post_path(post.id), class:"text-dark text-decoration-none" do %>
              <%= image_tag post.image, class:"card-img-top" %>

              <div class="card-body">
                <h2 class="font-weight-bold text-center">
                  <%= post.text %>
                </h2>

                <%= link_to admin_post_path(post.id), class:"d-block text-right" do %>
                  <span><%= post.favorites.count %> <strong>いいね</strong> <%= post.post_comments.count %> コメント</span>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>