<div class="container">
  <h2>会員詳細</h2><br />

  <div class="row">
    <div class="col-md-3">
      <%= image_tag @user.get_profile_image(150,150), class: "rounded-circle" %><br /><br />

      <h4 class="font-weight-bold"><%= @user.name %></h4>

      <h5><%= @user.profile %></h5>

      <%=link_to "#{@user.followings.count} フォロー", follows_user_path(@user.id) %>　<%=link_to "#{@user.followers.count} フォロワー", followers_user_path(@user.id) %>

      <div class="row">
        <% if @user == current_user %>
          <%= link_to edit_user_path, class: "btn btn-outline-secondary btn-block" do %>
            <i class="fas fa-user-cog"></i>
          <% end %>
        <% else %>
          <% if user_signed_in? %>
            <% if @user.followed_by?(current_user) %>
              <%=link_to user_relationships_path(@user.id), method: :delete, class: "btn btn-outline-secondary btn-block" do %>
                <i class="fa-solid fa-user-check"></i> フォロー中
              <% end %>
            <% else %>
              <%=link_to user_relationships_path(@user.id), method: :post, class: "btn btn-outline-secondary btn-block" do %>
                <i class="fa-solid fa-user-plus"></i> フォローする
              <% end %>
            <% end %>
          <% else %>
            <%=link_to user_relationships_path(@user.id), method: :post, class: "btn btn-outline-secondary btn-block" do %>
              <i class="fa-solid fa-user-plus"></i> フォローする
            <% end %>
          <% end %>
        <% end %>
      </div><br />
    </div>

    <div class="col-md-8 offset-md-1">
      <h2 class="text-center"><%= @user.name %>さんの投稿</h2><br />

      <div class="row">
        <% @posts.each do |post| %>
          <div class="card col-md-9 mx-auto pt-3 mb-4 shadow-lg">
            <%= link_to post_path(post.id), class:"text-dark text-decoration-none" do %>

              <%= image_tag post.image, class:"card-img-top" %>

              <div class="card-body">
                <h2 class="font-weight-bold text-center">
                  <%= post.text %>
                </h2>

                <%= link_to post_path(post.id), class:"d-block text-right" do %>
                  <strong><span><%= post.favorites.count %> いいね <%= post.post_comments.count %> コメント</span></strong>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <%= paginate @posts %>
    </div>
  </div>
</div>